
.control-panel-wrapper {
    top: 50%;
    left: 10%;
    width: 220px;
    background: #764abc;
    position: absolute;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    /* opacity: 0.7; */
}

.control-panel-wrapper header {
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
    border: 1px solid #bfbfbf;
    color: #fff;
    text-align: center;
}

.control-panel-wrapper header.active {
    cursor: move;
    user-select: none;
}

.p-listbox-filter {
    height: 35px;
}