*{
    margin: 0; 
}
body {
    left: 0;
    right: 0;
    overflow-x: hidden;
}
.draggable {
    top: auto !important;
    left: auto !important;
  }
.edit-mode {
    padding: 10px;
    border: 1px solid rgb(212 212 212)
}
.preview-mode {
    padding: 10px;
}
.playground {
    /* background: url('./assets/tiny-checkers.png'); */
    background-color: hsl(0,0%,96.5%);
}
.playground-preview {
    background: unset;
    margin: 0.5rem !important;
}

.attribute-panel {
    /* border: 1px dashed */
}

.control-attr-panel {
    width: 30px;
    display: inline-block;
    position: absolute;
    right: 0%;
    min-width: 0px;
    top: 40%;
    z-index: 99;
    box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 30%);
}

.control-attr-panel > button {
    font-size: 20px;
}
.control-attr-panel button:focus {
    box-shadow: none;
}

.control-attr-panel button {
    background-color: #fff;
    border: none;
    transition: 0.3s ease;
}
.control-attr-panel button:hover, .control-attr-panel button:focus {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}

.control-panel {
    
}

.control-panel-preview {
    display: none;
}

.comp-container {
    border: 1px dashed;
    height: 5vh;
    width: 10vw;
    
}

.menubar {
    /* box-shadow: rgb(0 0 0 / 3%) 0px 4px 10px, rgb(0 0 0 / 6%) 0px 0px 2px, rgb(0 0 0 / 12%) 0px 2px 6px; */
}

.p-menuitem {
    /* background: #24292f; */
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: #e7ecf0;
}

.p-menuitem-text {
    font-size: 15px;
    font-weight: 800;
}

.p-menubar {
    border: unset !important;
    border-radius: unset !important;
    background: #24292f;
}

.options-wrapper {
    max-height: calc(90vh - 200px);
    min-height: calc(90vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.p-listbox .p-listbox-header {
    background: #fff !important;
}

.preview-shortcut {
    top: 80%;
    left: 95%;
}

.p-sidebar {
    height: 500px !important;
    right: 0.5%;
}

.p-sidebar-header {
    justify-content: flex-start;
}

.layout-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #24292f;
    height: 40px;
}
.layout-footer p {
    color: #e7ecf0;
}