*{
    margin: 0;
}
.draggable {
    top: auto !important;
    left: auto !important;
  }
.edit-mode {
    padding: 10px;
    border: 1px solid rgb(212 212 212)
}
.preview-mode {
    padding: 10px;
}
.playground {
    /* background: url('./assets/tiny-checkers.png'); */
}
.playground-preview {
    background: unset;
    margin: 0.5rem !important;
}

.attribute-panel {
    /* border: 1px dashed */
}

.control-panel {
    
}

.control-panel-preview {
    display: none;
}

.comp-container {
    border: 1px dashed;
    height: 5vh;
    width: 10vw;
    
}

.menubar {
    box-shadow: rgb(0 0 0 / 3%) 0px 4px 10px, rgb(0 0 0 / 6%) 0px 0px 2px, rgb(0 0 0 / 12%) 0px 2px 6px;
}

.p-menuitem-text {
    color: #764abc !important;
    font-size: 15px;
    font-weight: 500;
}

.p-menubar {
    border: unset !important;
}

.options-wrapper {
    max-height: calc(90vh - 200px);
    min-height: calc(90vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.p-listbox .p-listbox-header {
    background: #fff !important;
}